include ../mixins/header-message

header.header
    .burger
        span
        span
    .header__route 
        i.icon(class=headerIcon)
        span.route__name=pageName
    ul.header__account
        li.header__item
            p.header__account--title.item-title ЕРС
            p.header__account--value 
                span.value 300000
                | $
        li.header__item
            p.header__account--title.item-title Домонетизировано
            p.header__account--value
                span.value 300000
                | $
        li.header__item.balance
            p.header__account--title.item-title Баланс
            p.header__account--value
                span.value 300000
                | $
    .header__notifications.header__item
        i.icon-bell-alt.icon
        .new-notifications-indicator
        ul.header__messages
            .triangle-with-shadow
            p.header__messages--title Сообщения
            +headerMessage(
                icon="icon-attention"
                title="Что у вас случилось?"
                date="26.01.2021"
            )
            +headerMessage(
                icon="icon-attention"
                title="Что у вас случилось?"
                date="26.01.2021"
            )
            +headerMessage(
                icon="icon-attention"
                title="Что у вас случилось?"
                date="26.01.2021"
            )
    .header__profile.header__item
        a.header__profile--link(href="#") Vitaliy Zamedyanskiy
            i.icon-down-dir.icon
        ul.account__settings
            .triangle-with-shadow
            li.account__settings--item
                i.icon-user-icon.icon
                a(href="profile.html").account__settings--link Личные данные
            li.account__settings--item
                i.icon-security-icon.icon
                a(href="profile.html").account__settings--link Безопасность
            li.account__settings--item
                i.icon-exit-icon.icon
                a(href="auth.html").account__settings--link Выйти из профиля
