include ../mixins/form-filter
include ../mixins/switch

.popup#addStream
    .popup__close.close-btn(data-fancybox-close)
        span
        span
    .popup__inner
        h2.popup__title Добавление потока
        form.form.popup__form.add-popup-form(method="post")
            .fieldset
                input.input(name="stream_name" type="text" required id="stream_name")
                label.label(for="stream_name") Название потока
            .fieldset
                input.input(name="stream_link" type="text" required id="stream_link" value="https://URL.com" disabled)
                label.label(for="stream_link") Ссылка потока (Генерируется автоматически)
                .icon.icon-icon-docs(data-action="copy" data-value="https://URL.com")
            .fieldset
                +form-filter(
                    title="Выбор типа страницы"
                    type="radio"
                    name="page_type"
                    options=[
                        {
                            id: 123123123,
                            option: 'Короткая новость',
                            value: 'short_news'
                        },
                        {
                            id: 12312,
                            option: 'Длинная новость',
                            value: 'long_news'
                        },
                        {
                            id: 123125,
                            option: 'Домонетизация',
                            value: 'domonetization'
                        }
                    ]
                )
            .fieldset.js-hidden.available-news
                +form-filter(
                    headerType="input"
                    title="Доступные новости"
                    type="radio"
                    options=[
                        {
                            id: 123123123,
                            option: 'Очень длинное названиееееееееееееееееееееееееееееееееееееее',
                            value: 'news_1',
                        },
                        {
                            id: 12312,
                            option: 'news 2',
                            value: 'news_2',
                        },
                        {
                            id: 123122,
                            option: 'news 2',
                            value: 'news_2',
                        },
                        {
                            id: 1231223,
                            option: 'news 2',
                            value: 'news_2',
                        },
                        {
                            id: 1231223,
                            option: 'news 2',
                            value: 'news_2',
                        },
                        {
                            id: 1231221,
                            option: 'news 2',
                            value: 'news_2',
                        }
                    ]
                )
            .fieldset
                +form-filter(
                    title="Дизайн"
                    type="radio"
                    options=[
                        {
                            id: 123123123,
                            option: 'Дизайн 1',
                            value: 'design_1'
                        },
                        {
                            id: 12312,
                            option: 'Дизайн 2',
                            value: 'design_2'
                        }
                    ]
                )
            .fieldset
                +form-filter(
                    title="Домен"
                    type="radio"
                    options=[
                        {
                            id: 123123123,
                            option: 'Домен 1',
                            value: 'domain_1'
                        },
                        {
                            id: 12312,
                            option: 'Домен 2',
                            value: 'domain_2'
                        }
                    ]
                )
            .switch-wrapper
                +switch(
                    name="domonetization"
                    value="domonetization"
                    switch_name="Домонетизация"
                    helper=true
                    helperText="Домонетизация - Способ получения дополнительной выгоды из трафика"
                    checked=true
                )
                +switch(
                    name="popup_window"
                    value="popup_window"
                    switch_name="Поп-ап окно"
                    helper=true
                    helperText="Pop-up - Окно с рекомендуемым контентом, которое всплывает поверх наполнения сайта"
                    checked=true
                )
                +switch(
                    name="push_base"
                    value="push_base"
                    switch_name="Сбор пуш базы"
                    helper=true
                    helperText="Push база - Сбор подписчиков, которые дали согласие на получение push уведомлений (могут появляться на экране любого устройства, где есть область оповещений)."
                    checked=true
                )
            .popup__postback
                +switch(
                    name="post_back"
                    value="post_back"
                    switch_name="Отправлять PostBack"
                    checked=false
                )
                .popup__postback--text
                    p PostBack запрос будет отправлен на указанный адрес методом GET. Для передачи параметров в запрос Вы можете использовать макросы, указанные ниже:
                    p {click_id} - номер лида в системе,
                    p {status} - статус лида (pending, approved, rejected, trash),
                    p {payout} - сумма отчислений вебмастеру,
                    p {currency} - валюта (RUB)
                    p {subid1}  - параметр, указанный в поле subid_1
                    p ...
                    p {subid4}  - параметр, указанный в поле subid_4
                    p Пример
                        span http://sdjvjskdv.jsdvnjndsv/sdkv
                    h2.popup__title._track-title Трекинг
                    .fieldset
                        input.input(name="subid_1" type="text" required)#subid1
                        label.label(for="subid1") subid_1
                    .fieldset
                        input.input(name="subid_2" type="text" required)#subid2
                        label.label(for="subid2") subid_2
                    .fieldset
                        input.input(name="subid_3" type="text" required)#subid3
                        label.label(for="subid3") subid_3
                    .fieldset
                        input.input(name="subid4" type="text" required)#subid4
                        label.label(for="subid_4") subid_4
                    .fieldset
                        input.input(name="postback_url" type="text" required)#postback_url
                        label.label(for="postback_url") PostBack URL
            button.btn.btn-primary(type="submit") ДОБАВИТЬ НОВЫЙ пОТОК
