extends _includes/layout
include _includes/mixins/accountInfoItem
include _includes/mixins/financesTable

block config
    - var pagetitle = 'Финансы'
    - var bodyClass = 'finances'
    - var pageName = 'Финансы'
    - var name = 'finances'
    - var headerIcon = 'icon-wallet-icon'

block content
    .content
        .content__inner
            .finances__top
                .account-info.large
                    +infoItem(
                        title="Доступно"
                        value=1000
                        type="cash"
                        subclass="green-text"
                    )
                    +infoItem(
                        title="В ожидании"
                        value=0
                        type="cash"
                    )
                    +infoItem(
                        title="Всего"
                        value=1000
                        type="cash"
                        subclass="green-text"
                    )
                    +infoItem(
                        title="Выплачено"
                        value=0
                        type="cash"
                    )
                .support-text При наличии вопросов Вы всегда можете к нам обращаться по электронному адресу 
                    a.link(href="") supportnew@yaya.com. 
                    | Всегда рады оказать информационную поддержку.
            .finances__systems
                .finances__systems--header
                    h3.finances__systems--title Выбор платежной системы на вывод средств
                .finances__systems--body
                    a(href="#payoneer" data-fancybox data-options='{"touch" : false}').finances__systems--item 
                        picture
                            source(srcset="assets/img/finances/payoneer.webp" type="image/webp")
                            source(srcset="assets/img/finances/payoneer.png" type="image/png")
                            img(src="assets/img/finances/payoneer.png" alt="payoneer")
                    a(href="#alfaPopup" data-fancybox data-options='{"touch" : false}').finances__systems--item
                        picture
                            source(srcset="assets/img/finances/alfabank.webp" type="image/webp")
                            source(srcset="assets/img/finances/alfabank.png" type="image/png")
                            img(src="assets/img/finances/alfabank.png" alt="alfabank")
                    a(href="#zaleyPopup" data-fancybox data-options='{"touch" : false}').finances__systems--item
                        picture
                            source(srcset="assets/img/finances/zeley-cash.webp" type="image/webp")
                            source(srcset="assets/img/finances/zeley-cash.png" type="image/png")
                            img(src="assets/img/finances/zeley-cash.png" alt="zaley")
                    a(href="#tinkoffPopup" data-fancybox data-options='{"touch" : false}').finances__systems--item
                        picture
                            source(srcset="assets/img/finances/tinkoff.webp" type="image/webp")
                            source(srcset="assets/img/finances/tinkoff.png" type="image/png")
                            img(src="assets/img/finances/tinkoff.png" alt="tinkoff")
                    a(href="#bankPopup" data-fancybox data-options='{"touch" : false}').finances__systems--item
                        picture
                            source(srcset="assets/img/master_card.webp" type="image/webp")
                            source(srcset="assets/img/master_card.png" type="image/png")
                            img(src="assets/img/master_card.png" alt="master_card")
                    a(href="#webmoneyPopup" data-fancybox data-options='{"touch" : false}').finances__systems--item
                        picture
                            source(srcset="assets/img/finances/webmoney.webp" type="image/webp")
                            source(srcset="assets/img/finances/webmoney.png" type="image/png")
                            img(src="assets/img/finances/webmoney.png" alt="webmoney")
                    a(href="#capitalistDollar" data-fancybox data-options='{"touch" : false}').finances__systems--item
                        picture
                            source(srcset="assets/img/finances/capitalist_dollar.webp" type="image/webp")
                            source(srcset="assets/img/finances/capitalist_dollar.png" type="image/png")
                            img(src="assets/img/finances/capitalist_dollar.png" alt="capitalist $")
                    a(href="#capitalistPopup" data-fancybox data-options='{"touch" : false}').finances__systems--item
                        picture
                            source(srcset="assets/img/finances/capitalist.webp" type="image/webp")
                            source(srcset="assets/img/finances/capitalist.png" type="image/png")
                            img(src="assets/img/finances/capitalist.png" alt="capitalist")
                    a(href="#everadPopup" data-fancybox data-options='{"touch" : false}').finances__systems--item
                        picture
                            source(srcset="assets/img/finances/everad.webp" type="image/webp")
                            source(srcset="assets/img/finances/everad.png" type="image/png")
                            img(src="assets/img/finances/everad.png" alt="everad")
                    a(href="#wirePopup" data-fancybox data-options='{"touch" : false}').finances__systems--item
                        picture
                            source(srcset="assets/img/finances/wire.webp" type="image/webp")
                            source(srcset="assets/img/finances/wire.png" type="image/png")
                            img(src="assets/img/finances/wire.png" alt="wire")
                    a(href="#sberPopup" data-fancybox data-options='{"touch" : false}').finances__systems--item
                        picture
                            source(srcset="assets/img/finances/sber.webp" type="image/webp")
                            source(srcset="assets/img/finances/sber.png" type="image/png")
                            img(src="assets/img/finances/sber.png" alt="Сбербанк")
                    
            +financesTable(
                lines=[
                    {
                        date: "12.07.2021",
                        transaction_num: "123123123123123123123123123",
                        sum: "1 259 $",
                        status: 'Проведена'
                    },
                    {
                        date: "12.07.2021",
                        transaction_num: "12312312",
                        sum: "1 123 $",
                        status: 'Проведена'
                    },
                    {
                        date: "12.07.2021",
                        transaction_num: "12312312312312",
                        sum: "999 $",
                        status: 'Проведена'
                    },
                    {
                        date: "12.07.2021",
                        transaction_num: "1231231231231231231231",
                        sum: "1 245 $",
                        status: 'Проведена'
                    }
                ]
            )
            .pagination-wrapper
                include _includes/blocks/renderCount
                include _includes/blocks/pagination
