mixin filter()
    .filter
        .filter__header
            .filter__item
                p.filter__header--title=attributes.title
            i.icon-down-dir.icon
        .filter__body
            - let arr = attributes.options
            each item in arr
                .filter__item
                    input(type=attributes.type name="stream" value=item.value id=item.value checked=item.checked)
                    label(for=item.value)=item.option
