mixin filter()
    .filter.js-control-filter(data-type=attributes.title)
        .filter__header
            .filter__item
                p.filter__header--title=attributes.title
            i.icon-down-dir.icon
        .filter__body.dropdown-body
            .triangle-with-shadow
            input.dropdown-search(type="text" placeholder="Поиск...")
            .dropdown-wrapper
                - let arr = attributes.options
                if arr.length === 0
                    .filter__item.not-data
                        label Нет данных
                else
                    each item in arr
                        label.filter__item.dropdown-item(class=item.disabled ? 'js-disabled' : '')=item.option
                            input(type="checkbox" name=attributes.name value=item.value)
                            .check
                                i.icon-ok.icon
            .dropdown-actions
                button.dropdown-select_all.btn-primary(type="button") Выбрать все
                button.dropdown-accept(type="button")
                    span.icon-accept.icon
                        span
                        span
                    | Выбрать
                button.dropdown-cancel(type="button") 
                    span.icon-cancel.icon
                        span
                        span
                    | Отменить
